body {

  font-family: 'Montserrat', sans-serif;

}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.sign-in {
  background: linear-gradient(89.85deg, rgba(0, 208, 46, 0.5) 3.03%, #00D0C5 96.97%);
}

.login,
.login:hover {
  border: 1px solid rgba(0, 208, 46, 0.5);
}

h1 {
  font-weight: bold;
}

p {
  color: rgba(0, 0, 0, 0.42);
  font-weight: 800;
  font-size: 18px;
}

img {
  width: 300px;
}

.input-group-append {
  background: rgba(0, 208, 197, 1);
  color: white;
  font-weight: 500;
}

.input-group-append:hover {
  background-color: #039c8a;
  color: white;
}

.form-inline .btn {
  width: 100px;
}

@media (max-width: 450px) {
  .text-center {
    text-align: start !important;
  }

  .navbar {
    margin: 10px !important;
  }

}

.auth-section {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}

.formContainer #inputData {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: rgba(0, 208, 197, 1);
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: rgb(2, 245, 233);
}

.formContainer p {
  margin-top: 15px;
  color: #212529;
  font-weight: 300;
}

.formContainer .link {
  color: #212529;
  font-weight: 600;
}

span {
  color: red;
  margin-bottom: 10px;
}