body {
  font-family: 'Montserrat', sans-serif;
}

.bg-authenticated {
  background: linear-gradient(90deg, rgba(4, 208, 0, 0.36) 36.53%, rgba(24, 255, 243, 0.36) 63.67%, rgba(5, 208, 253, 0.36) 75.76%);
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  margin-left: 30px;
  padding-bottom: 0;
}

.navbar-left .links {
  margin-left: 100px;
  color: black;
  text-decoration: none;
}

.text-break {
 font-weight: 600; 
}

.container {
  margin-top: 30px;
}


.sign-in {
  background: linear-gradient(89.85deg, rgba(0, 208, 46, 0.5) 3.03%, #00D0C5 96.97%);
}

.login,
.login:hover {
  border: 1px solid rgba(0, 208, 46, 0.5);
}

h1 {
  font-weight: bold;
}

p {
  color: rgba(0, 0, 0, 0.42);
  font-weight: 800;
  font-size: 18px;
}

img {
  width: 300px;
}

.crown {
  width: 20px;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}


.input-group-append {
  background: rgba(0, 208, 197, 1);
  color: white;
  font-weight: 500;
}

.input-group-append:hover {
  background-color: #039c8a;
  color: white;
}

.form-inline .btn {
  width: 100px;
}

@media (max-width: 450px) {
  .text-center {
    text-align: start !important;
  }

  .navbar {
    margin: 10px !important;
  }

}

.auth-section {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}

.createtest {
  width: 600px;
  margin-top: 70px;
}

.formContainer #inputData {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: rgba(0, 208, 197, 1);
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: rgb(2, 245, 233);
}

.formContainer p {
  margin-top: 15px;
  color: #212529;
  font-weight: 300;
}

.formContainer .link {
  color: #212529;
  font-weight: 600;
}

span {
  color: red;
  margin-bottom: 10px;
}

.cards .btn {
  margin-right: 5px;
  margin-top: 5px;
}

.cards {
  margin-bottom: 20px;
}

.card {
  border: 3px solid rgba(115, 224, 143, 1)
}

h3 {
  margin-bottom: 15px;
}

.dropdown-toggle,
.dropdown-toggle:hover {
  border: 0.5px solid grey;
}

nav .btn {
  margin-left: 5px;
}

.add-btn {
  width: 180px;
}

.firstparagraph, .secondparagraph, .thirdparagraph {
  max-width: 50%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make it full screen */
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader div {
    width: 15px;
    height: 15px;
    margin: 3px;
    background-color: rgba(115, 224, 143, 1);
    border-radius: 50%;
    display: inline-block;
    animation: loader-animation 0.8s infinite alternate;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loader-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
