.logo-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  border-top: 3px solid #777;
  border-radius: 2px;
  margin-top: 15px;
}

.about-user-tests {
  margin-top: 80px;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
  margin-right: auto;
}

a {
  font-size: 20px;
}

.our-project {
  color: black;
}

.rating {
  margin-right: auto;
  color: black;
}

.user {
  width: 40px;
  transition: transform 0.3s ease;
}

.user:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.setting {
  width: 30px;
  transition: transform 0.3s ease;
}

.setting:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.utils {
  border: 0cap;
  background: transparent;
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Nickname {
  padding-top: 60px;
  font-size: 36px;
}

.user-2 {
  width: 125px;
  padding-top: 47px;
}



.clock {
  width: 16px;
}

.static {
  margin-top: 75px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 800;
}

.fire {
  width: 32px;
  margin-left: 10px;
}

.description {
  font-size: 12px;
  margin-left: 64px;
}

.number {
  margin-left: 37px;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.lig-name {
  width: 30px;
  height: 38px;
  margin-left: 10px;
  margin-top: 12px;
}

.liga,
.block-points,
.block-days {
  background-color: rgba(146, 229, 177, 51%);
  border-radius: 30px;
  width: 200px;
  height: 80px;
  border: 2px solid rgb(72, 194, 72);
}

.block-days {
  margin-bottom: 35px;
}

.block-points {
  margin-top: 144px;
  margin-bottom: 35px;
}

.mack,
.medal {
  width: 28px;
  height: 48px;
  margin-left: 13px;
  margin-top: 0;
}

.friend {
  display: flex;
  flex-direction: row;
}

.friend img {
  width: 50%;
}

.friend p {
  margin-top: 50px;
  width: 50%;
}

.friend-container {
  display: flex;
  justify-content: center;
}

.friend-container button {
  background-color: rgb(147, 229, 177);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 320px;
}