body {
    
    font-family: 'Montserrat', sans-serif;
        
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.sign-in {
    background: linear-gradient(89.85deg, rgba(0, 208, 46, 0.5) 3.03%, #00D0C5 96.97%);
}
.login, .login:hover {
    border: 1px solid rgba(0, 208, 46, 0.5);
}

h1{
    font-weight: bold;
}
p {
    color: rgba(0, 0, 0, 0.42); 
    font-weight: 800; 
    font-size: 18px;
}
.input-group-append .btn {
    background: rgba(0, 208, 197, 1);
    color: white;
    font-weight: 500;
}

.input-group-append .btn:hover {
    background-color: #039c8a;
}

.form-inline .btn {
    width: 100px;
}

@media (max-width: 450px) {
    .text-center {
        text-align: start !important;
    }
    .navbar {
        margin: 10px !important;
    }

}
