.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: white;
  border: 2px solid rgba(115, 224, 143, 1);
  box-shadow: 24px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.delete-modal {
  height: 250px;
}

.content {
  margin: 20px;
  width: 100%;
}

.modal-buttons {
  margin-top: 15px;
}

.modal-box button {
  margin-top: 10px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .modal-box {
    width: 400px;
  }
}

.level-bar {
  width: 100%;
  background-color: #e7e5e5;
}

.skills {
  text-align: right;
  margin-top: 15px;
  color: white;
  padding-right: 5px;
}

.progress-level {
  width: 60%;
  background: var(--yukis-gradient);
}
